<template>
    <v-container>
        <Table :data="tableData" mb-5 class="content-container" />
        <v-layout justify-space-between>
            <ProjectList :projects="projectsData" class="content-container" />
            <PaymentStatistics :systems="paymentMethodsUsage" />
        </v-layout>
        <PaymentSystemPopularityPlot :data="paymentMethodsPopularity" :metrics="getMethodNames()" />
    </v-container>
</template>

<script>
    import transactions from '../data/transactions.json';
    
    import Table from '../components/Table';
    import ProjectList from '../components/ProjectList';
    import PaymentStatistics from '../components/PaymentStatistics';
    import PaymentSystemPopularityPlot from "../components/PaymentSystemPopularityPlot";
    
    import { transformTransactionsArray } from '../helpers/transactions';
    import { constructProjectList } from '../helpers/projects';
    import { getPaymentMethodsUsage, getPopularity } from '../helpers/paymentMethods';

    export default {
        components: {
            Table,
            ProjectList,
            PaymentStatistics,
            PaymentSystemPopularityPlot
        },
        data() {
            return {
                transactions: transactions,
                tableData: transformTransactionsArray(transactions),
                projectsData: constructProjectList(transactions),
                paymentMethodsUsage: getPaymentMethodsUsage(transactions),
                paymentMethodsPopularity: getPopularity(transactions)
            };
        },
        methods: {
            getMethodNames() {
                return Object.values(this.paymentMethodsUsage).map(
                    (elem) =>  elem.name
                );
            }
        }
    };
</script>

<style scoped>
    .content-container {
        margin-bottom: 25px;
    }
</style>
