<template>
    <div>
        <VeLine :data="chartData" :settings="chartSettings" />
    </div>
</template>

<script>
    import VeLine from 'v-charts/lib/line.common';

    export default {
        name: "PaymentSystemPopularityPlot",
        components: {
            VeLine
        },
        props: {
            data: {
                type: Array,
                required: true
            },
            metrics: {
                type: Array,
                required: true
            }
        },
        data() {
            return {
                chartSettings: {
                    metrics: this.metrics,
                    dimension: ['date'],
                    yAxisName: ['Total']
                },
                chartData: {
                    columns: ['date'].concat(this.metrics),
                    rows: this.data
                }
            };
        }
    };
</script>

<style scoped>

</style>