<template>
    <Statistics :data="systems">
        <template v-slot:header>
            Payment methods  
        </template>
        <template v-slot:item="{ item }">
            <v-list-tile-content>
                <v-list-tile-title pb-1>{{ item.name }}</v-list-tile-title>
                <v-list-tile-sub-title>
                    <span>
                        <b>Transactions count:</b>
                        {{ item.count }}
                    </span>
                    <v-spacer />
                    <span>
                        <b>Last transaction:</b>
                        {{ formatDateFunc(item.dates[item.dates.length - 1]) }}
                    </span>
                </v-list-tile-sub-title>
            </v-list-tile-content>
        </template>
    </Statistics>
</template>

<script>
    import formatDate from "../helpers/date";
    import Statistics from './Statistics';

    export default {
        name: "PaymentStatistics",
        components: {
            Statistics
        },
        props: {
            systems: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                formatDateFunc: formatDate
            };
        }
    };
</script>
