<template>
    <Statistics :data="projects">
        <template v-slot:header>
            Projects
        </template>
        <template v-slot:item="{ item }">
            <v-list-tile-content>
                <v-list-tile-title pb-1>{{ item.name }}</v-list-tile-title>
                <v-list-tile-sub-title>
                    <span>
                        <b>Transactions count:</b>
                        {{ item.count }}
                    </span>
                    <v-spacer />
                    <span>
                        <b>Total value:</b>
                        {{ item.total_value.toFixed(2) }} $
                    </span>
                </v-list-tile-sub-title>
            </v-list-tile-content>
        </template>
    </Statistics>
</template>

<script>
    import Statistics from './Statistics';
    
    export default {
        name: "ProjectList",
        components: {
            Statistics
        },
        props: {
            projects: {
                type: Object,
                required: true
            }
        }
    };
</script>
