<template>
    <v-flex xs12 sm4 xl3>
        <v-card>
            <v-card-title class="display-1">
                <slot name="header" />
            </v-card-title>
            <v-list two-line>
                <template v-for="(item, key, idx) in data" class="list-item">
                    <v-list-tile :key="key">
                        <slot name="item" :item="item" />
                    </v-list-tile>
                    <v-divider
                        v-if="idx + 1 < Object.keys(data).length"
                        :key="idx"
                        class="list-divider"
                    />
                </template>
            </v-list>
        </v-card>
    </v-flex>
</template>

<script>
    export default {
        name: "Statistics",
        props: {
            data: {
                type: Object,
                required: true
            }
        }
    };
</script>

<style scoped>
    .list-divider {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>