<template>
    <v-card>
        <v-card-title>
            <span class="display-1">Transactions</span>
            <v-spacer />
            <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                signle-line
                hide-details
            />
        </v-card-title>
        <v-data-table
            :items="data"
            :headers="headers"
            :search="search"
        >
            <template v-slot:items="props">
                <td>{{ formatDateFunc(props.item.transaction.transfer_date) }}</td>
                <td class="text-xs-right">{{ props.item.transaction.project.name }}</td>
                <td class="text-xs-right">{{ props.item.user.id }}</td>
                <td class="text-xs-right">{{ props.item.transaction.payment_method.name }}</td>
                <td class="text-xs-right">{{ props.item.payment_details.payment.amount }}</td>
                <td class="text-xs-right">{{ props.item.user.country }}</td>
                <td class="text-xs-right">{{ props.item.purchase }}</td>
                <td class="text-xs-right">{{ props.item.transaction.status }}</td>
            </template>
        </v-data-table>
    </v-card>
</template>

<script>
    import formatDate from "../helpers/date";

    export default {
        name: "Table",
        props: {
            data: {
                type: Array,
                required: true
            }
        },
        data() {
            return {
                headers: [
                    {text: 'Date', value: 'transaction.transfer_date'},
                    {text: 'Project', value: 'transaction.project.name', class: 'text-xs-right'},
                    {text: 'User ID', value: 'user.id', class: 'text-xs-right'},
                    {text: 'Payment method', value: 'transaction.payment_method.name', class: 'text-xs-right'},
                    {text: 'Payment $', value: 'payment_details.payment.amount', class: 'text-xs-right'},
                    {text: 'Country', value: 'user.country', class: 'text-xs-right'},
                    {text: 'Purchase', value: 'purchase', class: 'text-xs-right', sortable: false},
                    {text: 'Status', value: 'transaction.status', class: 'text-xs-right'}
                ],
                search: '',
                formatDateFunc: formatDate
            };
        }
    };
</script>

<style scoped>

</style>
